@import "bootstrap/bootstrap.less";
@import "variables.less";

.inline-block {
	display: inline-block;
	*display: inline; //兼容IE6/7
	zoom: 1;
}

.container {
	width: @containerWidth;
	min-height: 1px;
}

ul {
	list-style: none;
	margin: 0;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

.background-png(@path) {
	background: url("@{path}") scroll no-repeat center center transparent;
}

.center {
	margin: 0 auto;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}