/* 
	spritemapper.output_css = customer.css
	spritemapper.output_image = customer-sprite.png
	spritemapper.padding = 5
	spritemapper.base_url = ../../static/img/
 */
@import "common.less";

@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";

@import "city-panel.less";
@import "quick-menu.less";
@import "search-panel.less";
@import "menu.less";
@import "footer.less";

//消费者页面非活动字体颜色
@notActiveColor: #BEBEBE;


body {
	background-color: @backgroundColorOfCustomer;
}

a {
	color: @memberLinkColor;
}

.logo  {
	.css-sprite("../img/logo.png");
	float: left;
	width: 155px;
	height: 40px;
}

.navbar {
	.navbar-inner {
		line-height: 30px;
		height: 30px;
		min-height: 30px;
		background-image: none;
		.border-radius(0px);
		background-color: #6C6C6C;

		.container {
			width: @containerWidth;
			margin: 0 auto;

			a.switch-btn {
				color: @notActiveColor;
			}
		}
	}
}

.portrait {
	width: 180px;
	float: right;
	margin-right: 10px;
	vertical-align: bottom;

	a {
		vertical-align: bottom;
	}
}

.search-panel {
	margin-left: 18px;
}

.col-main {
	min-height: 200px;
	float: left;
	width: 100%;
	.border {
		.border-radius(5px);
		border: solid 1px @memberBorderColor;
		min-height: 200px;
		background-color: @white;
		padding: 20px 15px;
		position: relative;
		.left-arrow {
			width: 12px;
			height: 29px;
			.css-sprite("../img/larrow.png");
			position: absolute;
			top: 40px;
			left: -12px;
		}
	}
	.content {
		padding: 0 200px 0 140px;
		zoom: 1;
	}

	h3 {
		background-color: #f1f1f1;
		padding-left: 5px;
	}
	zoom: 1;
}

.col-left {
	margin-left: -100%;
	width: 140px;
	zoom: 1;
	float: left;
}

.col-right {
	margin-left: -190px;
	width: 190px;
	zoom: 1;
	float: right;
}


.content {
	.steps {
		.clearfix();
		height: 110px;
		width: 592px;
		margin: 0 auto;
		background: url("../img/steps.png") scroll no-repeat center top transparent;
		margin-top: 15px;
		.step {
			width: 148px;
			float: left;
		}
		a {
			display: block;
			height: 30px;
			width: 120px;
			margin: 15px;
			text-align: center;
			padding-top: 80px;
		}
	}

	.my-location {
		line-height: 20px;
		padding: 15px 10px;
		margin-top: 40px;
		border: 1px solid @memberBorderColor;
		.background-png-x("../img/repeat.png");

		a {
			padding-left: 1em;
		}
		
	}
}

.around {
	padding: 15px 0px;
	.clearfix();
	.around-school,
	.around-base,
	.around-team,
	.around-coach {
		float: left;
		width: 152px;
		overflow: hidden;
	}

	h3 {
		font-size: 100%;
		font-weight: bold;
		line-height: 18px;
		padding: 5px;
	}

	ul {
		padding: 5px 0 0 5px;
		list-style: square inside;
		color: #4266b0;
		li {
			line-height: 24px;
		}
		
	}
}

.my-neighbor {
	.clearfix();
	h3 {
		font-weight: normal;
		font-size: 100%;
		line-height: 32px;
		color: @memberGrayText;
		border: 1px solid @memberBorderColor;
		
		.more {
			margin-right: 20px;
		}
		.clearfix();
	}

	ul {
		padding: 15px 20px;

		li {
			float: left;
			width: 140px;
			text-align: center;
			line-height: 20px;
			a.member {
				display: block;
				
			}

			a.school {
				font-weight: bold;
			}
		}
	}
}


.news {
	margin-top: 10px;
	padding: 5px;
	
	h2 {
		font-size: 100%;
		.clearfix();
		font-weight: bold;
	}
	
	.more {
		font-weight: normal;
	}

	li {
		padding-left: 5px;
		a {
			color: #231f20;
		}
	}
}

.service {
	padding: 10px 10px 15px 0px;
	line-height: 24px;
	border: solid 1px #D0D0D0;
	
	border-left: none;
	border-right: none;
	.hotline {
		.icon {
			.css-sprite("../img/hotline.png");
			display: block;
			float: left;
			width: 19px;
			height: 28px;
			margin-left: -90px;
		}
		padding-left: 90px;
	}
	.worktime {
		padding-left: 90px;
		.icon {
			.css-sprite("../img/worktime.png");
			width: 24px;
			height: 23px;
			display: block;
			float: left;
			margin-left: -90px;
		}
		
		em {
			font-weight: bold;
			color: #f7941d;
		}
		margin-top: 10px;
	}
	span {
			margin-left: -70px;
			display: block;
			width: 70px;
			text-align: right;
			float: left;
		}

		em {
			font-style: normal;
		}
}
