.quick-menu {
	a {
		color: inherit;
		text-decoration: none;
	}
	.inline-block;
	.item {
		.inline-block;
		padding-left:1em;
	}
	
	.active-item {
		color: @white;
	}
	
	.setting {
		color: @white;
		padding-left: 6em;
	}

	.logout {
		color: @white;
		padding-left: 2em;
	}
}